<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/style/style.css">
        <title>File manager</title>
    </head>
    <body>
        <header class="navbar navbar-light bg-light bg-gradient ps-3 row-sm">
            <h1 class="display-4">File manager</h1>
        </header>
        <hr class="m-0">
        <main class="d-flex flex-direction-row h-100">
            {{{body}}}
        </main>
    </body>
</html>